# ... other deps
imgaug --no-binary imgaug
# ... other deps

numpy==1.18.5
matplotlib==3.2.2
pandas==1.0.5
opencv-python==4.4.0.44
watermark==2.0.2
scikit-learn==0.23.1
scikit-image==0.16.2
